@media print {
    html body {
        gap: 1em;
    }

    body .masthead {
        padding-top: 12px;
        padding-bottom: 0;
    }

    body .masthead .icon-list {
        display: flex;
        flex-direction: row;
        justify-content: left;
        gap: 10px 10px;
        flex-wrap: wrap;
        list-style-type: none;
        padding-left: 0;
    }

    body .masthead .icon-list li {
        flex: 0 0 calc(32%);
    }

    #work .stack article,
    #references .stack blockquote {
        break-inside: avoid;
    }

    #work .stack article header .meta,
    #education .stack article header .meta {
        display: flex;
        gap: 10px;
    }

    #skills {
        break-inside: avoid;
    }

    #skills .grid-list {
        padding-top: 5px;
        gap: 0;
        grid-template-columns: auto;
    }

    #skills .grid-list h4 {
        display: none;
    }

    #interests {
        break-inside: avoid;
    }

    #interests .grid-list {
        padding-top: 5px;
        display: flex;
        flex-direction: row;
        justify-content: left;
        gap: 10px 10px;
        flex-wrap: wrap;
        list-style-type: none;
        padding-left: 0;
        gap: 10px;
    }

    #interests .grid-list h4 {
        font: 1em / 1.5 Lato, sans-serif;
    }
}
